.DiaryEditor {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;

  border: 1px solid gray;
}

.DiaryEditor input, textarea {
  margin-bottom: 20px;
  width: 640px;
  padding: 8px;
}

.DiaryEditor textarea {
  height: 200px;
}

.DiaryEditor select {
  text-align: center;
  width: 80px;
  margin-bottom: 20px;
  padding: 8px;
}

.DiaryEditor button {
  width: 640px;
  padding: 8px;
  background-color: #61dafb;
  border: none;
  color: #282c34;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

/* List */

.DiaryList {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}

.DiaryList h2 {
  text-align: center;
}

/* Item */

.DiaryItem {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}

.DiaryItem .info {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.DiaryItem .date {
  color: gray;
}

.DiaryItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
