.DiaryEditor {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;

  border: 1px solid gray;
}

.DiaryEditor input, textarea {
  margin-bottom: 20px;
  width: 640px;
  padding: 8px;
}

.DiaryEditor textarea {
  height: 200px;
}

.DiaryEditor select {
  text-align: center;
  width: 80px;
  margin-bottom: 20px;
  padding: 8px;
}

.DiaryEditor button {
  width: 640px;
  padding: 8px;
  background-color: #61dafb;
  border: none;
  color: #282c34;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}
